.place-a {
  font-size: 170%;
  color: #2d6987;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
.season-a {
  font-size: 140%;
  color: #a47e3c;
  font-style: italic;
  margin-left: 5px;
  margin-right: 5px;
}